/* You can add your own general css rules here */




/* Summary: 
 *
 * .no_select       disable select
 *
 * .inline          display container as inline
 * .block           display container as block
 * .inline-block    display container as inline-block
 * .none            display container as none
 *
 * .absolute        absolute position for the div
 * .fixed           fixed position for the div
 * .relative        relative position for the div
 * .static          static position for the div
 * .f_left          float left
 * .f_right         float right
 * .clear           clear floats
 * 
 * .mobile_only     display container only if widthscreen < 960px
 * .desktop_only    display container only if widthscreen > 960px
 *
 * --------------------------------------------------------------------------------------------
 *
 * .container                define a container
 * .container_pb             add some padding at the bottom of a container
 * .container_delimited      add a black border at the top of the container for more visibility
 *
 * .box                      create a box (should be in a container)
 * .w_xx                     set the box width to xx% // differents layour are available:
 *                                 .w_100                           1 column  layout
 *                                 .w_50                            2 columns layout
 *                                 .w_67, .w_33                     3 columns layout
 *                                 .w_75, .w_25                     4 columns layout
 *                                 .w_80, .w_60, .w_40, .w_20       5 columns layout
 *
 * .p_xx                     add xx padding // available values are 20, 40, 100
 * .m_xx                     add xx margin  // available values are 20, 40, 100
 *
 * --------------------------------------------------------------------------------------------
 * 
 * .b_scroll       make the background scrollable
 * .b_fixed        make the background fixed
 * .b_local        make the background local
 *
 * .no_repeat      disable background-repeat
 * .repeat_x       allow repeat-x
 * .repeat_y       allow repeat-y
 *
 * --------------------------------------------------------------------------------------------
 * 
 * .ta_left        align the text to the left
 * .ta_right       align the text to the right
 * .ta_center      center the text
 * .ta_justify     justify the text
 *
 * .italic         make the text italic
 * .bold           make the text bold
 * .underline      make the text underline
 * .strike         make the text striked
 *
 * --------------------------------------------------------------------------------------------
 * 
 * .box_shadow          make a box shadowe
 * .bix_shadow_inset    make an inset box shadow
 * 
 * .img_circle          make an image as circle
 *
 */




/* ------------------------------------
 * ----- GENERAL ----------------------
 * ----------------------------------*/

.no_select{
    -webkit-user-select:    none;
     -khtml-user-select:    none;
       -moz-user-select:    none;
        -ms-user-select:    none;
            user-select:    none;
    -webkit-touch-callout:  none;
}

a{
    color: inherit;
    text-decoration: none;
}




/* ------------------------------------
 * ----- POSITIONNING -----------------   Position property, floats, ect...
 * ----------------------------------*/

.absolute{
    position: absolute !important;
}

.fixed{
    position: fixed !important;
}

.relative{
    position: relative !important;
}

.static{
    position: static !important;
}

.center_block{
    margin: auto;
}

.f_left{
    float: left;
}

.f_right{
    float: right;
}

.clear{
    clear: both;
}



/* ------------------------------------
 * ----- RESPONSIVE -------------------
 * ----------------------------------*/

.mobile_only{
    display: none !important;
}

.desktop_only{
    display: block !important;
}

@media screen and (max-width: 960px){
    
    .mobile_only{
        display: block !important;
    }

    .desktop_only{
        display: none !important;
    }
}




/* ------------------------------------
 * ----- BOXES ------------------------   Containers, boxes, width, ect...
 * ----------------------------------*/

.container{
    font-size: 0; /* fix inline whitespace problem */
}

.container_pb{
    padding-bottom: 20px;
}

.container_delimited{
    border-top: solid 1px black;
}

.box{
    display: inline-block;
    font-size: medium;
    vertical-align: middle;
}

.w_100{                      /* 1 column layout */
    display: block;
}

.w_50{                       /* 2 columns layout */
    width: 50%;
}

.w_33{                       /* 3 columns layout */
    width: 33.333333333%;
}

.w_67{
    width: 66.666666666%;
}

.w_25{                       /* 4 columns layout */
    width: 25%;
}

.w_75{
    width: 75%;
}

.w_20{                       /* 5 columns layout */
    width: 20%;
}

.w_40{
    width: 40%;
}

.w_60{
    width: 60%;
}

.w_80{
    width: 80%;
}

.w_10{                       /* 10 columns layout */
    width: 10%;
}




/* ------------------------------------
 * ----- BACKGROUNDS ------------------
 * ----------------------------------*/

.b_scroll{                             /* Background Attachment */
    background-attachment: scroll;
}

.b_fixed{
    background-attachment: fixed;
}

.b_local{
    background-attachment: local;
}

.no_repeat{                            /* Background Repeat */
    background-repeat: no-repeat;
}

.repeat_x{
    background-repeat: repeat-x;
}

.repeat_y{
    background-repeat: repeat-y;
}




/* ------------------------------------
 * ----- TEXT-ALIGN ------------------
 * ----------------------------------*/

.ta_left{
    text-align: left;
}

.ta_right{
    text-align: right;
}

.ta_center{
    text-align: center;
}

.ta_justify{
    text-align: justify
}




/* ------------------------------------
 * ----- PADDING / MARGIN -------------
 * ----------------------------------*/

.p_20{
    padding: 20px;
}

.p_40{
    padding: 40px;
}

.p_100{
    padding: 100px;
}

.m_20{
    margin: 20px;
}

.m_40{
    margin: 40px;
}

.m_100{
    margin: 100px;
}




/* ------------------------------------
 * ----- BOX-SHADOW -------------------
 * ----------------------------------*/

.box_shadow{
    box-shadow: 0 0 5px black;
}

.box_shadow_inset{
    box-shadow: inset 0 0 5px black;
}




/* ------------------------------------
 * ----- IMAGES -----------------------
 * ----------------------------------*/

.img_circle{
    -webkit-border-radius: 10000px;
       -moz-border-radius: 10000px;
            border-radius: 10000px;
}




/* ------------------------------------
 * ----- DISPLAYING BLOCKS ------------
 * ----------------------------------*/

.inline{
    display: inline;
}

.block{
    display: block;
}

.inline_block{
    display: inline-block;
}

.none{
    display: none;
}




/* ------------------------------------
 * ----- FORMATING TEXT ---------------
 * ----------------------------------*/

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.strike{
    text-decoration: line-through;
}






























/* ------------------------------------
 * ----- RESPONSIVE THEME -------------
 * ----------------------------------*/

@media only screen  
and (max-width: 960px)
and (min-width: 768px) {
    .w_50, .w_33, .w_67, .w_25, .w_75, .w_20, .w_40, .w_80, .w_10{
        width: 50%;  
    }   
}

@media only screen and (max-width: 767px) {
    .w_50, .w_33, .w_67, .w_25, .w_75, .w_20, .w_40, .w_80, .w_10{
        width: 100%; 
    }
}

@media only screen and (max-width: 960px) {
    .w_100_resp{
        width: 100%;
    }
    
    .w_33_resp{
        width: 33.333333333%;
    }
    
    .w_67_resp{
        width: 66.666666666%;
    }
    
    .w_25_resp{
        width: 25%;
    }
    
    .w_75_resp{
        width: 75%;
    }
    
    .w_20_resp{
        width: 20%;
    }
    
    .w_40_resp{
        width: 40%;
    }
    
    .w_60_resp{
        width: 60%;
    }
    
    .w_80_resp{
        width: 80%;
    }
    
    .w_10_resp{
        width: 10%;
    }
}