/* ------------------------------------
 * ----- WHOLE PAGE -------------------
 * ----------------------------------*/

a, a:hover, a:active, a:focus{
    color: inherit;
    text-decoration: none;
    outline: none;                             /* Fix for webkit browsers */
    -webkit-tap-highlight-color: transparent;  /* Fix for Android devices */
}

hr { /* hr normalizer */
    border : 0;
    height : 1px;
    background : 50% 0 no-repeat;
    margin : 1em 0;
}




/* ------------------------------------
 * ----- MENUS / HEADER ---------------
 * ----------------------------------*/




/* ------------------------------------
 * ----- FOOTER -----------------------
 * ----------------------------------*/





/* ------------------------------------
 * ----- BUTTONS -----------------------
 * ----------------------------------*/




/* ------------------------------------
 * ----- FONTS ------------------------
 * ----------------------------------*/



