/* You can add your own general css rules here */




/* Summary: 
 *
 * .no-select       disable select
 *
 * .inline          display container as inline
 * .block           display container as block
 * .inline-block    display container as inline-block
 * .none            display container as none
 *
 * .absolute        absolute position for the div
 * .fixed           fixed position for the div
 * .relative        relative position for the div
 * .static          static position for the div
 *
 * .mobile_only     display container only if widthscreen < 960px
 * .desktop_only    display container only if widthscreen > 960px
 *
 */




/* ------------------------------------
 * ----- GENERAL ----------------------
 * ----------------------------------*/

.no_select{
    -webkit-user-select:    none;
     -khtml-user-select:    none;
       -moz-user-select:    none;
        -ms-user-select:    none;
            user-select:    none;
    -webkit-touch-callout:  none;
}




/* ------------------------------------
 * ----- DISPLAYING BLOCKS ------------
 * ----------------------------------*/

.inline{
    display: inline !important;
}

.block{
    display: block !important;
}

.inline_block{
    display: inline-block !important;
}

.none{
    display: none !important;
}




/* ------------------------------------
 * ----- POSITIONNING -----------------   Position property, floats, ect...
 * ----------------------------------*/

.absolute{
    position: absolute !important;
}

.fixed{
    position: fixed !important;
}

.relative{
    position: relative !important;
}

.static{
    position: static !important;
}

.center_block{
    margin: auto;
}

.f_left{
    float: left;
}

.f_right{
    float: right;
}

.clear{
    clear: both;
}



/* ------------------------------------
 * ----- RESPONSIVE -------------------
 * ----------------------------------*/

.mobile_only{
    display: none !important;
}

.desktop_only{
    display: block !important;
}

@media screen and (max-width: 960px){
    
    .mobile_only{
        display: block !important;
    }

    .desktop_only{
        display: none !important;
    }
}




/* ------------------------------------
 * ----- BOXES ------------------------   Containers, boxes, width, ect...
 * ----------------------------------*/

.container{
    font-size: 0; /* fix inline whitespace problem */
}

.box{
    display: inline-block;
    font-size: initial;
}

.w_50{                       /* 2 columns layout */
    width: 50%;
}

.w_33{                       /* 3 columns layout */
    width: 33.333333333%;
}

.w_67{
    width: 66.666666666%;
}

.w_25{                       /* 4 columns layout */
    width: 25%;
}

.w_75{
    width: 75%;
}

.w_20{                       /* 5 columns layout */
    width: 20%;
}

.w_40{
    width: 40%;
}

.w_60{
    width: 60%;
}

.w_80{
    width: 80%;
}




/* ------------------------------------
 * ----- BACKGROUNDS ------------------
 * ----------------------------------*/

.b_scroll{                             /* Background Attachment */
    background-attachment: scroll;
}

.b_fixed{
    background-attachment: fixed;
}

.b_local{
    background-attachment: local;
}

.no_repeat{                            /* Background Repeat */
    background-repeat: no-repeat;
}

.repeat_x{
    background-repeat: repeat-x;
}

.repeat_y{
    background-repeat: repeat-y;
}